
/*----------Navbar----------*/

/*Overwrite Materialize css*/
nav, nav.nav-wrapper i, nav-wrapper.img,  a.button-collapse, nav a.button-collapse i {
    min-height: 80px;
    line-height: 80px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    min-height: 80px;
    line-height: 80px;
}

nav .button-collapse i {
    min-height: 80px;
    line-height: 80px;
}

nav {
    position: fixed;
    top: 0;
    transition: top ease-out .3s;
    z-index: 100;
}

/*----------Footer----------*/

.small-logo {
    height: 90px;
}

.social i {
    font-size: 50px;
}

.social img {
    width: 180px;
}

/*----------App Headers----------*/

.app-sct-header {
    height: 600px;
}

.app-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.app-title-container img{
    height: 200px;
    width: 200px;
}


/*----------Main App----------*/

.parallax img {
    filter: brightness(50%);
}

.main-reg-logo {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-reg-container {
    position: absolute;
    top: 350px;
    text-align: center;
    width: 100%;
}

.main-reg-container a {
    width: 180px;
}


.main-logo {
    width: 250px;
}

.carousel-img {
    min-height: 100%;
    min-width: 100%;
}

/*----------Modal Popups----------*/

.modal {
    background: transparent;
}

.modal-content {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.modal-detail {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-field.a, .btn-field.button {
    min-width: 120px;
}



@media (min-width: 992px) {
    .social {
        border-left: solid 1px white;
    }
}