
/*----------Navbar----------*/

/*Overwrite Materialize css*/
nav, nav.nav-wrapper i, nav-wrapper.img,  a.button-collapse, nav a.button-collapse i {
    min-height: 80px;
    line-height: 80px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    min-height: 80px;
    line-height: 80px;
}

nav .button-collapse i {
    min-height: 80px;
    line-height: 80px;
}

nav {
    position: fixed;
    top: 0;
    transition: top ease-out .3s;
    z-index: 100;
}

.sidenav li a {
    font-size: 16px;
}

.dropdown-content li {
    height:50px;
}

/*----------Footer----------*/

.small-logo {
    height: 90px;
}

.social i {
    font-size: 50px;
}

.social img {
    width: 180px;
}

/*----------App Headers----------*/

.app-sct-header {
    height: 600px;
}

.app-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.app-title-container img{
    height: 200px;
    width: 200px;
}


/*----------Main App----------*/

.parallax img {
    filter: brightness(50%);
}

.main-reg-logo {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-reg-container {
    position: absolute;
    top: 350px;
    text-align: center;
    width: 100%;
}

.main-reg-container a {
    width: 180px;
}


.main-logo {
    width: 250px;
}

.carousel-img {
    min-height: 100%;
    min-width: 100%;
}

/*----------Modal Popups----------*/

.modal {
    background: transparent;
}

.modal-content {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.modal-detail {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-field.a, .btn-field.button {
    min-width: 120px;
}



@media (min-width: 992px) {
    .social {
        border-left: solid 1px white;
    }
}

/*----------Transition page - Profile----------*/

.first, .last {
	display: block;
	height: 100vh;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 999;
}

.first {
	background-color: #4BA4A9;
	right: 50%;
}

.last {
	background-color: #F5F2BC;
	right: 0;
}

/*----------jQuery Image Upload from Codepen----------*/

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  font-size: 25px;
  color: #fafafa;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  transform: translateY(-50%);
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}