{% extends "base.html" %}
{% load static %}
{% load materializecss %}
{% load thumbnail %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}" type="text/css" />
{% endblock styles %}

{% block content %}
<!-- Header -->
<div class="parallax-container app-sct-header">
    <div class="parallax">
        <img src="{% static 'img/gym-one.jpg' %}">
    </div>
    <img class="app-sct-logo" src="{% static 'img/GF_Logo_2c.png' %}" alt="">
    <div class="app-title-container white-text">
        <h1>{{title}}</h1>
    </div>
</div>

<!--Profile Form-->
<form class="row white-text" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col s12 black pt20 pb20">
        <p class="center-align">Welcome back {% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}</p>
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="id_image" name="image" accept=".png, .jpg, .jpeg" />
                <label class="white-text waves-effect waves-light teal" for="id_image"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url('{{ user.profile.image.url }}');">
                </div>
            </div>
        </div>
        <div class="col s12 center-align">
            <h4>{{user.username}}</h4>
            <h5>{{user.email}}</h5>
        </div>
    </div>
    <div class="col s12 grey darken-4">
        <div class="input-field row">
            {{ u_form.username|materializecss:"s12, icon=fa fa-user" }}
            {{ u_form.email|materializecss:"s12, icon=fa fa-envelope" }}
        </div>
        <div class="input-field row">
            {{ u_form.first_name|materializecss:"s12 m6, icon=fa fa-angle-right" }}
            {{ u_form.last_name|materializecss:"s12 m6, icon=fa fa-angle-right" }}
        </div>
        <div class="file-field input-field row">
            {{ p_form.gender|materializecss:"icon=fa fa-venus-mars" }}
        </div>
        <div class="input-field row">
            {{ p_form.address1|materializecss:"s12 m6, icon=fa fa-road" }}
            {{ p_form.address2|materializecss:"s12 m6, icon=fa fa-building" }}
            {{ p_form.city|materializecss:"s12, icon=fa fa-flag" }}
            {{ p_form.postcode|materializecss:"s12, icon=fa fa-globe" }}
        </div>
        <div class="btn-field center-align pt10 pb20">
            <button type="submit" class="btn-large green darken-2 waves-effect waves-light">Update</button>
        </div>
    </div>
    </div>
</form>

{% endblock content %}

{% block script %}
<script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock script %}