{% extends 'base.html' %}
{% load materializecss %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}" type="text/css" />
{% endblock styles %}

{% block content %}
<!-- Header -->
<div class="parallax-container app-header">
    <div class="parallax">
        <img id="animate3" src="{% static 'img/profile-main-long.jpg' %}">
    </div>
    <img id="animate2" class="app-sct-logo" src="{% static 'img/GF_Logo_2c.png' %}" alt="">
    <div id="animate1" class="main-reg-container">
        {% if user.is_authenticated %}
        <div class="pb10"><a class="btn-large disabled">{{user.username}}</a></div>
        <div><a class="btn-large red darken-1" href="{% url 'accounts:logout' %}">Logout</a></div>
        {% else %}
        <div class="pb10">
            <a class="black-text btn-large grey lighten-5" href="{% url 'accounts:login' %}">Login</a>
        </div>
        <div><a class="btn-large red darken-1" href="{% url 'accounts:register' %}">Register</a></div>
        {% endif %}
    </div>
</div>

<!-- Customise *Card -->
<div class="row black white-text">
    <div class="col s12 center-align">
        <h3 class="pt20 pb10 red-text">Customise your wokouts today</h3>
        <div class="advert-container center-align">
            <h4 class="advert-msg w1 m0">Personalised</h4>
            <h4 class="advert-msg w2 m0">Online</h4>
            <h4 class="advert-msg w3 m0">No Contract</h4>
            <h4 class="advert-msg w4 m0">GFPT</h4>
        </div>
        <ul>
            <li class="pt10 pb10">
                My name is Geoff Foden and I firstly wanted to say thanks for
                considering me as a personal trainer.

            </li>
            <li class="pt10 pb10">
                I know where you’ve been. Spent time on yourself and not seen
                the changes you want. Sick and tired of making excuses and
                want to see real change. I can help
            </li>
            <li class="pt10 pb10">
                When you sign on as a client with me you aren’t just getting a
                pre-packaged program and being sent on your way. You get a
                kick up the butt, you get help and support and most importantly,
                you get success.

            </li>
            <li class="pt10 pb10">I’m looking forward to working with you</li>
        </ul>
    </div>
</div>

<!-- Calculator *Card -->
<div class="row grey darken-4">
    <div class="col s12 center-align pt20 pb20">
        <img class="small-logo" src="{% static 'img/logo-2.png' %}" alt="">
        <h4 class="white-text">Try my FREE Calorie Calculator</h4>
        <p class="pt20">
            <a class="btn-floating btn-large waves-effect waves-light red darken-1 pulse" href="{% url 'calc' %}"><i
                    class="fa fa-calculator"></i></a>
        </p>
    </div>
</div>

<!-- Testimonials *Carousel -->
{% if testimonials.all %}
<div class="row pt20">
    <h3 class="white-text center-align">Testimonials</h3>
    <div class="hide-on-small-only col m1">
        <div class="carousel-btn">
            <button onclick="$('.carousel').carousel('prev');" class="btn-floating btn grey darken-4">
                <i class="fa fa-chevron-left"></i>
            </button>
        </div>
    </div>
    <div class="col s12 m10">
        <div class="carousel carousel-slider center">
            {% for testimonial in testimonials %}
            <div class="carousel-item white black-text" href="#">
                <img class="carousel-img" src="{{ testimonial.image.url }}">
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger pulse"
                    href="#modal{{ testimonial.id }}">
                    <i class="material-icons">comment</i>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="hide-on-small-only col m1">
        <div class="carousel-btn">
            <button onclick="$('.carousel').carousel('next');" class="btn-floating btn grey darken-4">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
{% endif %}

<!-- Testimonial *Modal Structure -->
{% if testimonials.all %}
{% for testimonial in testimonials %}
<div id="modal{{ testimonial.id }}" class="modal black center-align white-text">
    <div class="modal-content black">
        <a href="#!" class="red-text darken-1 modal-close">Go Back</a>
        <div class="modelScroll">
            <h6>Scroll</h6>
            <i class="fa fa-chevron-down"></i>
        </div>
    </div>
    <img class="responsive-img pt10" src="{{ testimonial.image.url }}">
    <div class="modal-detail grey darken-4 p5">
        <h4>{{ testimonial.title }}</h4>
        <h5><span class="red-text">Goal: </span>{{ testimonial.goal }}</h5>
        <div class="left-align p5">
            <p>{{ testimonial.content|linebreaks }}</p>
            <div class="center-align pb10">
                <a href="#!" class="red-text darken-1 modal-close">Go Back</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<!-- Logo -->
<div class="row black white-text pt30 pb30">
    <div class="col s12 center-align">
        <img class="large-logo" src="{% static 'img/GF_Logo_2c.png' %}" alt="">
    </div>
</div>

<!-- Instgram Posts *Card -->
<div class="row white">
    <div class="col s12">
        <div class="insta-bg post-header">
            <h2 class="center-align pt20 pb20 white-text">Recent Posts</h2>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-3 center-align">Stretching for Gains</span>
            </div>
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/stretching.PNG' %}">
            </div>
            <div class="card-content grey-text text-darken-3">
                <span class="card-title activator"><i class="material-icons left">person_pin</i>Geoff says<i
                        class="material-icons right">more_vert</i></span>
                <p>⁣Tight glutes often = lower back pain, knee pain, hamstring pain, hip pain, problems getting low into
                    a deadlift / other exercises and just a whole other shit heap of problems.⁣</p>
                <div class="pt10 grey-text text-darken-2">
                    <i class="fa fa-comment"></i> 0
                    <span class="pl10"><i class="fa fa-eye blue-text"></i> 230</span>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-2"><i class="material-icons left">person_pin</i>
                    geoff_fodenpt<i class="material-icons right">close</i></span>
                <div class="video-container">
                    <iframe
                        src="https://scontent-lht6-1.cdninstagram.com/v/t50.2886-16/94334893_2354311498202979_5632289720351473884_n.mp4?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=103&_nc_ohc=OjnikDFv604AX8yDpEE&oe=5EA8F29C&oh=989c9491d68c87be6791cb20f29d4927"
                        allowfullscreen></iframe>
                </div>
                <p>⁣Tight glutes often = lower back pain, knee pain, hamstring pain, hip pain, problems getting low into
                    a deadlift / other exercises and just a whole other shit heap of problems.⁣</p>
                ⁣⁣<p>I’ve always found them hard to stretch, seated figure 4 stretch doesn’t seem to cut it, pigeon pose
                    is the most uncomfortable thing in the world so this little hack is golden for me. </p>
                <p>⁣⁣Use your forward foot to control the stretch and shuffle it back to deepen the stretch 👌🏻</p>
                <p class="blue-text">#stretching #mobility #mobilitytraining #glutes #tightglutes #lowerbackpain
                    #painrelief #backpain #personaltrainer #onlinepersonaltrainer #onlinecoach #sportsmassage
                    #sportsmassagetherapy #sportsmassagetherapist</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text text-darken-3 center-align">Bands for Gains</span>
            </div>
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/bands.PNG' %}">
            </div>
            <div class="card-content grey-text text-darken-3">
                <span class="card-title activator"><i class="material-icons left">person_pin</i>Geoff says<i
                        class="material-icons right">more_vert</i></span>
                <p>One thing I’ve noticed while building home programmes is a lot of people have a couple of light
                    dumbbells knocking about. </p>
                <div class="pt10 grey-text text-darken-2">
                    <i class="fa fa-comment"></i> 2
                    <span class="pl10"><i class="fa fa-eye blue-text"></i> 250</span>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-2"><i class="material-icons left">person_pin</i>
                    geoff_fodenpt<i class="material-icons right">close</i></span>
                <div class="video-container">
                    <iframe
                        src="https://scontent-lhr8-1.cdninstagram.com/v/t50.2886-16/92189339_247142146415338_2170004289848750034_n.mp4?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=110&_nc_ohc=x0tUnM7ptNIAX9sZwjw&oe=5EA93712&oh=4a87f9c8e264d19ae8f610e1ee5db678"
                        allowfullscreen></iframe>
                </div>
                <p>One thing I’ve noticed while building home programmes is a lot of people have a couple of light
                    dumbbells knocking about. </p>
                <p>And remember when I was banging on about getting resistance bands...⁣</p>
                <p>⁣If you combine a couple of light dumbbells with even a light resistance band and loop it round your
                    body and the round the dumbbells you end up with a lot more resistance with the most resistance at
                    the point of contraction.</p>
                <p>Rows, presses, deadlift variations, squat variations , flyes, curls, the list is pretty much
                    endless!⁣</p>
                ⁣<p>If you’re struggling to get hold of resistance bands drop me a DM I have a couple of sources.</p>
                ⁣<p>Yeah gym equipment is basically like crack now hit me up. </p>
                ⁣<p class="blue-text">#resistancebands #dumbbells #makelightweightfeelheavy #workout #homeworkout
                    #dumbbells #dumbbellworkout #gains #muscle #bodybuilding #gym #nogymnoproblem #personaltrainer
                    #personaltraining #onlinepersonaltrainer #onlinecoach #onlinecoaching</p>
            </div>
        </div>
    </div>
</div>

<!-- Instagram link -->
<div class="parallax-container">
    <div class="parallax">
        <img src="{% static 'img/dumbbells.jpg' %}">
    </div>
    <div class="app-title-container">
        <a href="https://www.instagram.com/geoff_fodenpt/" target=”_blank”>
            <img class="circle instagram-color" src="{% static 'img/profile-insta.png' %}" alt="">
        </a>
        <h4 class="center-align white-text">Instagram</h4>
        <div class="pt10 center-align main-social">
            <a href="https://www.instagram.com/geoff_fodenpt/" class="white-text pt10 pb10" target=”_blank”>
                <i class="fa fa-instagram insta-bg pr5 pl5"></i>
            </a>
        </div>
    </div>
</div>

<!-- Advert *Card -->
<div class="row black white-text">
    <div class="col s12 center-align">
        <h3 class="pt20 pb20 red-text">Benefits</h3>
        <ul>
            <li class=" pt10 pb10">No yearly contracts or sign-up fees</li>
            <li class=" pt10 pb10">No time slots for training, you train when and where you need too</li>
            <li class=" pt10 pb10">No worries - fool proof optimal training. Let me do the heavy lifting on the program
            </li>
            <li class=" pt10 pb10">Goal matched plan that works for you</li>
            <li class=" pt10 pb10">20+ years of training experience</li>
            <li class=" pt10 pb10">Straight talking, no-nonsense honest advice and support. No gimmicks</li>
        </ul>
    </div>
</div>

<!-- Sign Up -->
<div class="parallax-container main-sct-reg mb20">
    <div class="parallax">
        <img src="{% static 'img/gym-three.jpg' %}">
    </div>
    <div class="app-title-container">
        <h3 class="center-align white-text">Join Now</h3>
        <div class="pt10 center-align">
            <a class="btn-large red darken-1" href="{% url 'accounts:register' %}">Get Involved</a>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock script %}