/*----------Modal Popups----------*/

.modal {
  background: transparent;
}

.modal-content {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.modal-detail {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*----------Header----------*/

#animate3 {
  animation-name: bright_to_dark;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes bright_to_dark {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  35% {
    filter: brightness(75%);
    -webkit-filter: brightness(100%);
  }
  100% {
    filter: brightness(50%);
    -webkit-filter: brightness(60%);
  }
}

.app-header {
  height: 100vh;
}

.main-reg-container {
  display: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  max-width: 500px;
  text-align: center;
}

@media (min-width: 900px) {
  .app-header {
    height: 800px;
  }  
  .main-reg-container {
    top: 400px;
  }
}

.main-reg-container a {
  width: 180px;
}

/* ----------Mid Secion---------- */

.gfpt-card p {
  font-size: 16px;
}

.gfpt-card img {
  width: 200px;
}

@media (min-width: 600px){
  .gfpt-card p {
    font-size: 18px;
  }
  .gfpt-card img {
    width: 250px;
  }
}

@media (min-width: 900px){
  .gfpt-card img {
    width: 300px;
  }
}

.calorie-field h5 {
  display: inline;
}

@media (min-width: 600px){
  .slider {
    height: 500px;
  }
  .slides {
    height: 460px;
  }
}

/*----------Calculator Section----------*/

.article {
  
  max-width: 600px;
}

/*----------Instagram/Post Section----------*/
.post-header{
  border-radius: 10px;
}

.main-social i {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 75px;
}
